<ion-content>
  <div class="background-image"></div> <!-- Imagen de fondo añadida -->

  <div class="register-container">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">

              <div class="header-container">
                <h1>Crea tu cuenta</h1>
                <p>Regístrate en Acme Inc</p>
              </div>

              <ion-item>
                <ion-label position="floating">Nombres</ion-label>
                <ion-input formControlName="nombres"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Apellidos</ion-label>
                <ion-input formControlName="apellidos"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email" formControlName="correo"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Rol</ion-label>
                <ion-select formControlName="rol" placeholder="Selecciona tu rol" interface="popover">
                  <ion-select-option value="agricultor">Agricultor</ion-select-option>
                  <ion-select-option value="comprador">Comprador</ion-select-option>
                </ion-select>
              </ion-item>

              <div class="error-msg" *ngIf="errorMessage">
                {{ errorMessage }}
              </div>

              <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!registerForm.valid">
                Registrarse
              </ion-button>

              <div class="login-link">
                ¿Ya tienes una cuenta?
                <a routerLink="/auth/login">Inicia sesión</a>
              </div>

            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
<ion-spinner name="crescent" class="custom-spinner" *ngIf="isLoading"></ion-spinner>