<div class="footer-bar">
  <div class="footer-icons">
    <div class="footer-icon" (click)="goToNotificaciones()">
      <img src="assets/icon/notificacion.png" alt="Notificaciones" class="footer-img" />
      <span>Notificaciones</span>
    </div>
    <div class="footer-icon" (click)="goToInicio()">
      <img src="assets/icon/inicio.png" alt="Inicio" class="footer-img" />
      <span>Inicio</span>
    </div>
    <div class="footer-icon" (click)="goToCuenta()">
      <img src="assets/icon/cuenta.png" alt="Cuenta" class="footer-img" />
      <span>Cuenta</span>
    </div>
    <div class="footer-icon" (click)="logout()">
      <img src="assets/icon/cerrar_sesion.png" alt="Cerrar Sesion" class="footer-img" />
      <span>Cerrar sesion</span>
    </div>
  </div>
</div>
