<div class="footer-bar">
  <div class="footer-icons">
    <div class="footer-icon" (click)="goToClima()">
      <ion-icon name="partly-sunny-outline"></ion-icon>
      <span>Clima</span>
    </div>
    <div class="footer-icon" (click)="goToPesticidas()">
      <ion-icon name="bug-outline"></ion-icon>
      <span>Pesticidas</span>
    </div>
    <div class="footer-icon" (click)="goToVentas()">
      <ion-icon name="cart-outline"></ion-icon>
      <span>Ventas</span>
    </div>
    <div class="footer-icon" (click)="goToLuna()">
      <ion-icon name="moon-outline"></ion-icon>
      <span>Luna</span>
    </div>
  </div>
</div>
