ion-content {
    --background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-card {
    max-width: 400px;
    margin: auto;
  }
  
  .error-msg {
    color: #ff4f4f;
    margin: 0.5rem 0;
  }
  