ion-header {
    --background: #3498db;
    --color: #fff;
  }
  
  ion-toolbar {
    --background: #3498db;
  }
  
  ion-content {
    --background: #fafafa;
  }
  
  .content-container {
    margin: 1rem;
  }
  
  ion-card {
    margin: 1rem;
  }
  