ion-header {
    --background: #2ecc71; /* color de fondo del header */
    --color: #fff;        /* color del texto del header */
  }
  
  ion-toolbar {
    --background: #2ecc71;
  }
  
  ion-content {
    --background: #f9f9f9; /* fondo claro */
  }
  
  .content-container {
    margin: 1rem;
  }
  
  ion-card {
    margin: 1rem;
  }
  